@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .shadow-neon {
      box-shadow: 0 0 5px theme("colors.blue.400"), 0 0 20px theme("colors.blue.400");
    }
  
    .shadow-neon-blue {
      box-shadow: 0 0 5px theme("colors.blue.400"), 0 0 20px theme("colors.blue.400"), 0 0 40px theme("colors.blue.400");
    }
  
    .shadow-neon-purple {
      box-shadow: 0 0 5px theme("colors.purple.400"), 0 0 20px theme("colors.purple.400"), 0 0 40px
        theme("colors.purple.400");
    }
  }
  
  .futuristic-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .futuristic-scrollbar::-webkit-scrollbar-track {
    background: theme("colors.blue.400");
    border-radius: 10px;
  }
  
  .futuristic-scrollbar::-webkit-scrollbar-thumb {
    background: theme("colors.blue.500");
    border-radius: 10px;
    box-shadow: 0 0 5px theme("colors.blue.400");
  }
  
  .futuristic-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme("colors.blue.400");
    box-shadow: 0 0 10px theme("colors.blue.300");
  }
  
  @keyframes neon-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
  }
  
  .animate-neon-pulse {
    animation: neon-pulse 2s ease-in-out infinite;
  }
  